@font-face {
  font-family: "MB Corpo";
  src: url("../assets/fonts/MBCorpoSText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MB Corpo";
  src: url("../assets/fonts/MBCorpoSText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
